<div class="show-card-trip" id="trips-index">
  <div class= "show-card-trip-title">
    <p>User: <%= @trip.user.last_name %></p>
  </div>

  <img class="img-show-trip" src="<%= asset_path('seedTrip.jpeg') %>" />

  <div class="show-card-trip-infos">
    <div class="show-card-trip-details">
      <h2><%= @trip.title.capitalize %></h2>
      <p>Description : <%= @trip.description %></p>
    </div>
      <div class="show-card-trip-user">
        <% if @trip.user.image.present? %>
          <%= image_tag @trip.user.image.url, class: "avatar-bordered" %>
        <% else %>
        <img src="<%= asset_path('seedUser.jpg') %>" alt="avatar" class="avatar-bordered" />
        <% end %>

      </div>
      <div class= "show-card-trip-like">
        <h2> <%= @trip.like %> <i class="fa-solid fa-heart"></i> </h2>
      </div>
    </div>
  </div>
</div>
