<% if @user == current_user %>
  <div class="user-profile-navbar">
    <div class="nav-item nav-trips">
      <div class="nav-content">
        <h2><%= link_to 'Your Trips', user_trips_path(current_user) %></h2>
      </div>
    </div>

    <div class="nav-item">
      <div class="nav-content">
        <h2><%= link_to 'My profile', user_path(current_user) %></h2>
      </div>
    </div>
  </div>

  <% @trips.each_with_index do |trip, index| %>
    <div class="card-trip">
      <div class= "card-trip-title-your-trips">
        <div class="trip-title">
          <p>User: <%= trip.user.last_name %></p>
        </div>
        <div class="delete">
            <%= link_to "Delete", trip_path(trip),  data: { turbo_confirm: "Are you sure you want to delete this trip?", turbo_method: :delete }, class: "button-sml" %>
        </div>
      </div>




        <% if trip.images.any? %>
          <div class="carousel-inner">
              <div id="<%="carouselExampleIndicators#{index}"%>" class="carousel slide">
                <% unless trip.images.size == 1  %>
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#<%="carouselExampleIndicators#{index}"%>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#<%="carouselExampleIndicators#{index}"%>" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#<%="carouselExampleIndicators#{index}"%>" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                <% end %>
                <% trip.images.each_with_index do |image, index| %>
                  <%= link_to trip_path(trip) do %>
                    <div class="carousel-item<%= " active" if index == 0 %>">
                      <%= cl_image_tag(image.key, class: "index-img-trip") %>
                    </div>
                  <% end %>
                <% end %>
              </div>

            <% unless trip.images.size == 1  %>
              <button class="carousel-control-prev" type="button" data-bs-target="#<%="carouselExampleIndicators#{index}"%>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>

              <button class="carousel-control-next" type="button" data-bs-target="#<%="carouselExampleIndicators#{index}"%>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            <% end %>

          </div>


        <% else %>
          <%= link_to trip_path(trip) do %>
              <%= image_tag("default-trip-img.png", class: "index-img-trip") %>
          <% end %>
        <% end %>





        <div class="card-trip-infos">
          <div class="card-trip-details">
            <h2><%= trip.title %></h2>
            <p>Description : <%= trip.description %></p>
          </div>
        </div>


        <div class="card-trip-user">
          <% if trip.user.image.present? %>
            <%= image_tag trip.user.image.url, class: "avatar-bordered" %>
          <% else %>
            <img src="<%= asset_path('seedUser.jpg') %>" alt="avatar" class="avatar-bordered" />
          <% end %>
        </div>

        <div class="card-trip-like" data-controller="like" data-trip-id="<%= trip.id %>">
            <h2 data-target="like-count"><%= trip.like %></h2>
              <%= link_to like_trip_path(trip), method: :post, remote: true, class: 'like-link', data: { trip_id: trip.id, action: "click->like#like" } do %>
              <i data-target="like-icon" class="fa <%= trip.like&.positive? ? 'fa-solid' : 'fa-regular' %> fa-heart"></i>
              <% end %>
        </div>

      <div class="card-trip-comments"data-controller="insert-in-list">
          <div data-insert-in-list-target="items">
            <% trip.comments.each do |comment| %>
              <%= render partial: 'comments/comment', locals: { comment: comment } %>
            <% end %>
          </div>
          <div class="comment-box">
            <%= render "comments/form",trip: trip, comment: @comments %>
          </div>
        </div>


      </div>
    </div>
  <% end %>

<% else %>
  <h1>You are not authorized.</h1>
<% end %>
