<% if @user == current_user %>
  <div class="user-profile-navbar">
    <div class="nav-item">
      <%= link_to user_trips_path(current_user), class: "nav-content" do %>
        <div class="nav-content">
          <h2>Your Trips</h2>
        </div>
      <% end %>
    </div>

    <div class="nav-item nav-profile">
      <%= link_to user_path(current_user), class: "nav-content" do %>
        <div class="nav-content">
          <h2>My profile</h2>
        </div>
      <% end %>
    </div>
  </div>

    <%= image_tag @user.image.url, class: "avatar-bordered" %>

    <%= @user.first_name %>
    <%= @user.last_name %>




  <% else %>
    <h1>Access denied</h1>
  <% end %>
</div>
