<% if @user == current_user %>
  <div class="user-profile-navbar">
    <div class="nav-item">
      <%= link_to user_trips_path(current_user), class: "nav-content" do %>
        <div class="nav-content">
          <h2>Your Trips</h2>
        </div>
      <% end %>
    </div>
  </div>

    <div class="nav-item nav-profile">
      <%= link_to user_path(current_user), class: "nav-content" do %>
        <div class="nav-content">
          <h2>My profile</h2>
        </div>
      <% end %>

    </div>
  </div>
</div>
<p> <%= @following_count %>Following</p>
<p><%= @follower_count %>Follower</p>


  <h1><%= @user.first_name + " " + @user.last_name %></h1>


<%= image_tag @user.image.url, class: "avatar-bordered" %>
<br>
<p>Edit my info:</p>


<%= link_to edit_registration_path(current_user), class: "button-profile-edt" do %>
  <i class="fa-solid fa-user-pen" style="color: #ffffff;"></i>
<% end %>



<% else %>
  <h1>Access denied</h1>
<% end %>
</div>
