  <% if @user == current_user %>
  <div class="user-profile-navbar">
    <div class="nav-item nav-trips">
      <div class="nav-content">
        <h2><%= link_to 'Your Trips', user_trips_path(current_user) %></h2>
      </div>
    </div>

    <div class="nav-item nav-profile">
      <div class="nav-content">
        <h2><%= link_to 'My profile', user_path(current_user) %></h2>
      </div>
    </div>
  </div>
    <%= image_tag @user.image.url, class: "avatar-bordered" %>

    <%= @user.first_name %>
    <%= @user.last_name %>
  <% else %>
    <h1>Access denied</h1>
  <% end %>
</div>
