<% if @user == current_user %>
  <div class="user-profile-navbar">
    <div class="nav-item">
      <%= link_to user_trips_path(current_user), class: "nav-content" do %>
        <h2>My Trips</h2>
      <% end %>
    </div>

    <div class="nav-item nav-trips" >
      <%= link_to user_path(current_user), class: "nav-content" do %>
        <h2>My profile</h2>
      <% end %>
    </div>
  </div>

  <div class="my-profile-container">
    <div class="img-ctnr">
      <%= image_tag("bg-my-profile.jpeg", class: "mp-bg", alt: "bg-img-myprofile")%>
      <%= image_tag @user.image.url, class: "mp-avatar-bordered" %>
    </div>

    <div class="my-profile-infos">
      <h1><%= @user.first_name + " " + @user.last_name %></h1>

       <div class="followme">
        <span> Following : <%= @following_count %></span> <span> Follower : <%=  @follower_count %></span>
      </div>
      <br>

      <% if @user.biography.present? %>
        <p>About me:<br></p>
        <p><%= @user.biography %></p>
      <% end %>
      <br>

      <div class="edit-profile-log-out">
        <%= link_to edit_registration_path(current_user), class: "button-profile-log-out" do %>
          <i class="fa-solid fa-user-pen fa-xl" style="color: #ee9c22;"></i><br>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete, class: "button-profile-log-out" do %>
        <i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ee9c22;"></i>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <h1>Access denied</h1>
<% end %>
