<nav class="navbar-bottom">
  <%= link_to root_path, class: "navbar-link" do %>
    <i class="fas fa-globe-americas" style="color: #ee9c22;"></i>
  <% end %>
  <%= link_to new_marker_path, class: "navbar-link" do %>
    <i class="fa-solid fa-magnifying-glass" style="color: #ee9c22;"></i>
  <% end %>
    <%= link_to new_trip_path, class: "navbar-link circle-plus-link" do %>
    <i class="fa-solid fa-circle-plus" style="color: #ee9c22;"></i>
  <% end %>
  <%= link_to markers_path, class: "navbar-link" do %>
    <i class="fa-sharp fa-solid fa-location-dot" style="color: #ee9c22;"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_trips_path(@user), class: "navbar-link" do %>
      <%= image_tag @user.image.url, class: "avatar-bordered" %>
    <% end %>
   <% else %>
    <%= link_to new_user_session_path, class: "navbar-link" do %>
      <i class="fa-solid fa-user" style="color: #ee9c22;"></i>
    <% end %>
  <% end %>
</nav>
