<%= simple_form_for activity do |f| %>
  <% @attractions.each do |attraction| %>
    <label>
      <%= check_box_tag 'attraction_ids[]', attraction['location_id'] %>
      <b><%= attraction['name'] %></b>
    </label>
    <p><%= attraction['address_obj']['address_string'] %></p>

    <% pictures = JSON.parse(pictures_tripadvisor(attraction['location_id']))['data'] %>
    <% pictures.first(2).each do |picture| %>
    <div class="activity-picture">
      <% if picture['images']['medium'] %>
        <%= image_tag picture['images']['medium']['url'], class: 'medium-picture' %>
      <% end %>
    </div>
    <% end %>

  <% end %>
  <%= f.button :submit, class: 'button', value: 'Submit' %>
<% end %>
