<%= simple_form_for activity do |f| %>
  <% @attractions.each do |attraction| %>
    <%= f.fields_for "activities[#{attraction['location_id']}]" do |activity_fields| %>
      <label>
        <%= activity_fields.check_box :selected %>
        <b><%= attraction['name'] %></b>
      </label>
      <p><%= link_to attraction['address_obj']['address_string'], "http://maps.google.com/?q=#{attraction['name']} #{attraction['address_obj']['address_string']}", target: "_blank" %></p>

      <%= activity_fields.hidden_field :name, value: attraction['name'] %>
      <%= activity_fields.hidden_field :address, value: attraction['address_obj']['address_string'] %>

      <% pictures = JSON.parse(pictures_tripadvisor(attraction['location_id']))['data'] %>
      <% pictures.first(2).each do |picture| %>
        <% if picture['images']['medium'] %>
          <%= activity_fields.hidden_field :picture, value: picture['images']['medium']['url'] %>
          <div class="activity-picture">
            <%= image_tag picture['images']['medium']['url'], class: 'medium-picture' %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= f.button :submit, class: 'button', value: 'Submit' %>
<% end %>
